<div class="container sm max-w-[200px] rounded-md bg-gray-100 p-1">
  <div class="flex justify-between items-center">
    <div class="font-semibold">{{@section.title}}</div>
    <div class="flex m-1">
      <div class="font-bold actionButton" {{on "click" this.deleteSection}}></div>
    </div>
  </div>

  {{#each this.foundSectionItems as |item|}}
    <MainPage::TaskSmall @item={{item}} @sectionId={{this.sectionId}} @deleteTask={{this.deleteTask}} />
  {{/each}}

  {{#if this.isAdding}}
    <div class="bg-white rounded border-solid mt-2">
      <Textarea class="block w-full rounded border border-gray-300" placeholder="Enter a Description for a new Item" @value={{this.inputValue}} />
      <div class="flex justify-end mt-1 pb-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white rounded  px-4 mr-2" type="button" {{on "click" this.addTicket}}> Save </button>
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold px-4 rounded" type="button" {{on "click" (fn this.toggleAddition false)}}>Discard</button>
      </div>
    </div>
  {{/if}}

  {{#unless this.isAdding}}
  <div class="cursor-pointer mt-2" {{on "click" (fn this.toggleAddition true)}}>
    <div class="hover:bg-gray-300 rounded-md">
      <div class="font-semibold">
        + Add a Task
      </div>
    </div>
  </div>
  {{/unless}}
</div>