<div class="container  bg-white rounded p-3 modalContainer">
  <div class="flex flex-row-reverse">
    <div class="cursor-pointer font-bold" {{on 'click' @close}}> X</div>
  </div>
  <div class="flex flex-col gap-3">
    <div class="cursor-pointer" {{on "click" this.toggleTitleEdit}}>
      {{#if this.titleEdit}}
        <input type="text" value="{{this.title}}" {{on "blur" this.updateTitle}}>
      {{else}}
        <div class="font-bold">{{this.title}}</div>
      {{/if}}
    </div>
    <div class="cursor-pointer" {{on "click" this.toggleProgressEdit}}>
      {{#if this.progressEdit}}
        <MainPage::TaskProgressPicker @onChange={{this.handleProgressChange}} @progressState={{this.progress}}/>
      {{else}}
        <MainPage::TaskProgress @progressState={{this.progress}}/>
      {{/if}}
    </div>

    <div class="cursor-pointer" {{on "click" this.toggleDescriptionEdit}}>
      {{#if this.descriptionEdit}}
        <Textarea minRows="3" class="w-full" placeholder="Enter description" type="text"
                  @value="{{this.description}}" {{on "blur" this.updateDescription}} />
      {{else}}
        {{this.description}}
      {{/if}}
    </div>

    <div>
      <button class="bg-red-500 hover:bg-red-800 text-white font-bold px-4 rounded" type="button" {{on "click" this.removeItem}}>
        Remove Task
      </button>
    </div>
  </div>
</div>